repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        files: ^keeltrader/apps/api/
        exclude: ^keeltrader/apps/api/(venv|alembic)/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^keeltrader/apps/api/
        exclude: ^keeltrader/apps/api/(venv|alembic)/

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^keeltrader/apps/api/
        exclude: ^keeltrader/apps/api/(venv|alembic)/
        args: ['--config=keeltrader/apps/api/.flake8']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        files: ^keeltrader/apps/api/
        exclude: ^keeltrader/apps/api/(venv|alembic|tests)/
        additional_dependencies: [types-all]
        args: ['--ignore-missing-imports']
